<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="../../static/css/core.css" th:href="@{/css/core.css}">
    <link type="text/css" rel="stylesheet" href="../../static/css/home.css" th:href="@{/css/home.css}">
    <link rel="stylesheet" href="../../static/css/me.css" th:href="@{/css/me.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">

</head>
<body>

<div class="ydc-content-slide ydc-body">
    <div class="ydc-flex">
        <div class="ydc-column ydc-column-8">
            <div class="ydc-release-content">
                <div class="ydc-tabPanel ydc-tabPanel-release">
                    <div class="ydc-release-tab-head">
                        <ul>
                            <li class="hit">完善资料</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="m-container-small m-padded-tb-massive" style="max-width: 30em !important;">
    <div class="ur container">
        <div class="ui middle aligned center aligned grid">
            <div class="column">
                <form class="ui large form" method="post" action="#" id="updateResource" th:action="@{/user/UpdateInfo}">
                    <div class="ui  segment" style="position: relative;">
                        <div class="field ">
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input  type="text" name="identity_num" autocomplete="off" placeholder="身份证号" th:value="${session.user.user_identity_num}" >
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="phone icon"></i>
                                <input type="text" autocomplete="off" name="phone" placeholder="手机号" th:value="${session.user.user_phone}">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input type="date" autocomplete="off" name="birth" placeholder="生日" >
                            </div>
                        </div>
                        <div class="inline fields">
                            <label for="updateResource">性别：</label>
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input type="radio" name="sex" checked="checked" tabindex="0" value="男">
                                    <label>男</label>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input type="radio" name="sex" tabindex="0" value="女" >
                                    <label>女</label>
                                </div>
                            </div>
                        </div>
                        <button class="ui teal submit button">确认更改</button>
                    </div>

                    <div class="ui error mini message"></div>
                    <div class="ui mini negative message" th:unless="${#strings.isEmpty(message)}" th:text="${message}">
                        message
                    </div>
                    <div class="ui mini success message" th:unless="${#strings.isEmpty(success_message)}" th:text="${success_message}">
                        成功！！！
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<script src="../../static/js/jquery-3.5.1.min.js" th:src="@{/js/jquery-3.5.1.min.js}"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script>


    $('.ui.form').form({
        on :'blur',
        fields: {
            identity_num:{
                identifier:'identity_num',
                rules:[{
                    type:'regExp',
                    value:/(^\d{15}$)|(^\d{18}$r)|(^\d{17}(\d|X|x)$)/,
                    prompt:'请输入正确的身份证号码！'
                }]
            },
            phone:{
                identifier: 'phone',
                rules:[{
                    type:'regExp',
                    value:/^1[34578]\d{9}$/,
                    prompt:'请输入正确的手机号码！'
                }]
            }

        }
    });
</script>
</body>
</html>