<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css" th:href="@{/css/me.css}">
    <link rel="stylesheet" href="../../static/css/cityselect.css" th:href="@{/css/cityselect.css}">
    <link rel="stylesheet" href="../../static/css/foundation-datepicker.css" th:href="@{/css/foundation-datepicker.css}" >
    <link rel="stylesheet" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css">
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<!-- 导航 -->
<div th:replace="~{default/navigation :: navigation}"></div>

<!-- 中间内容 -->
<div class="m-container1 m-padded-tb-large">
    <div class="ui container">
        <div class="ui stackable grid" style="width: 1500px;">
            <!-- 左边的top -->
            <div class="wide column" style="width: 350px; padding-left: 30px;">
                <!-- 查询车票 -->
                <div class="ui segments m-margin-tb-large">
                    <div class="ui secondary segment">
                        <div class="ui two column grid">
                            <div class="column">
                                <i class="search icon"></i>查询车票
                            </div>
                        </div>
                    </div>
                    <div class="ui teal segment">
                        <form action="#" method="POST" th:action="@{/getTrips}">
                            <div class="ui">
                                <label class="ui compact teal basic label">出发地点</label>
                                <input type="text" name="StartStation" id="citySelect" placeholder="北京">
                            </div>
                            <div class="ui m-margin-tb-large">
                                <label class="ui compact teal basic label">到达地点</label>
                                <input type="text" name="EndStation" id="citySelect2" placeholder="上海">
                            </div>
                            <div class="ui m-margin-tb-large">
                                <label class="ui compact teal basic label">出发日期</label>
                                <input type="text" name="date" id="startdate" >
                            </div>
                            <button type="submit" id="publish-btn" class="ui teal button">查询</button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- 右边车次列表 -->
            <div class="wide column" style="width: 1150px;">
                <!-- header -->
                <div class="ui top attached segment">
                    <div class="ui middle aligned two column grid">
                        <div class="column">
                            <h3 class="ui teal header">车次</h3>
                        </div>
                    </div>
                </div>
                <!-- content -->
                <div class="ui attached segment">
                    <table class="ui table">
                        <thead>
                        <tr>
                            <th>列车名</th>
                            <th>起点</th>
                            <th>终点</th>
                            <th>出发时间</th>
                            <th>到达时间</th>
                            <th>一等座票数</th>
                            <th>二等座票数</th>
                            <th>&nbsp;&nbsp;&nbsp;&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="trips:${pageInfo?.getList()}" >
                            <td th:text="${trips.trips_train_name}"></td>
                            <td th:text="${trips.trips_start_station_name}"></td>
                            <td th:text="${trips.trips_end_station_name}"></td>
                            <td th:text="${#dates.format(trips.trips_start_time,'HH:mm:ss')}"></td>
                            <td th:text="${#dates.format(trips.trips_end_time,'HH:mm:ss')}"></td>
                            <td th:text="${trips.trips_first_seat_num}"></td>
                            <td th:text="${trips.trips_second_seat_num}"></td>
                            <td>
                                <button><a href="confirm_order.html" th:href="@{/confirm_order/}+${trips.trips_id}">预定</a></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!--显示分页信息-->
                <div class="modal-footer no-margin-top" th:if="${pageInfo!=null}">
                    <div class="col-md-6">
                        当前第 [[${pageInfo?.getPageNum()}]]页,共 [[${pageInfo?.getPages()}]] 页.一共 [[${pageInfo?.getTotal()}]] 条记录
                    </div>

                    <ul class="pagination pull-right no-margin">
                        <li th:if="${!pageInfo?.isIsFirstPage()}">
                            <a th:href="'/getTrips?pageNum=1'">首页</a>
                        </li>

                        <li class="prev" th:if="${pageInfo?.isHasPreviousPage()}">
                            <a th:href="'/getTrips?pageNum='+${pageInfo.getPrePage()}">
                                <i class="ace-icon fa fa-angle-double-left"></i>
                            </a>
                        </li>
                        <!--遍历条数-->
                        <li th:each="nav:${pageInfo?.getNavigatepageNums()}">
                            <a th:href="'/getTrips?pageNum='+${nav}" th:text="${nav}" th:if="${nav != pageInfo.getPageNum()}"></a>
                            <span style="font-weight: bold;background: #6faed9;" th:if="${nav == pageInfo.getPageNum()}" th:text="${nav}" ></span>
                        </li>

                        <li class="next" th:if="${pageInfo?.isHasNextPage()}">
                            <a th:href="'/getTrips?pageNum='+${pageInfo.getNextPage()}">
                                <i class="ace-icon fa fa-angle-double-right"></i>
                            </a>
                        </li>

                        <li>
                            <a th:href="'/getTrips?pageNum='+${pageInfo?.getPages()}">尾页</a>
                        </li>
                    </ul>
                </div>

            </div>

        </div>
    </div>
</div>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<!-- 底部 -->
<div th:replace="~{default/footer::footer}"></div>

<script src="../../static/js/jquery-3.5.1.min.js" th:src="@{/js/jquery-3.5.1.min.js}"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script src="../../static/js/cityselect.js" th:src="@{/js/cityselect.js}"></script>
<script src="../../static/js/foundation-datepicker.js" th:src="@{/js/foundation-datepicker.js}"></script>
<script src="../../static/js/foundation-datepicker.zh-CN.js" th:src="@{/js/foundation-datepicker.zh-CN.js}"></script>

<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
    $('.ui.dropdown').dropdown({
        on: 'hover'
    });

    $(function () {
        //城市选择
        var test=new Vcity.CitySelector({input:'citySelect'});
        var test2=new Vcity.CitySelector({input:'citySelect2'});
        //日期选择
        var nowTemp = new Date();
        var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);

        $('#startdate').fdatepicker({
            onRender: function (date) {
                return date.valueOf() < now.valueOf() ? 'disabled' : '';},
            format:'yyyy-mm-dd'
        }).data('datepicker');
    })

</script>
</body>
</html>